@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html body {
    width: 100%;
    margin: 0;
    background-color: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
}

/* FONTS */
h1 {
    line-height: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 22pt;
}

h2 {
    font-size: 12pt;
    border-bottom: solid 2px #000000;
    line-height: 14pt;
}

a   {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

/* CONTAINERS */
#container {
    width: 100%;
    margin: 0;
    background-color: #F0F0F0;
    display: flex;
}


#contentView {
    background-color: #ffffff;
    border-radius: 15px;
    width: 400px;
    overflow: auto;
    box-shadow: 5px 5px 19px #888888;
    margin: 50px;
    padding: 25px;
}

/* SEARCH FIELDS */
#searchBox {
    margin: 5px 0px 15px 0px;
    overflow: auto;
}

#search-keyword {
    width: 75%;
    height: 25px;
    border-radius: 5px; 
    border: 1 #d8d8d8;
}

input#search-keyword {
    padding: 5px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

input::-webkit-input-placeholder {
    color: #d8d8d8;
}

#submit-btn {
    width: 70px;
    height: 40px;
    margin-left: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F0F0F0));
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px; 
    border: 1 #d8d8d8;
}

#errorMsg {
    height: 44px;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    color: #991111;
    background-color: #FCDEDE;
    border: 1 #991111;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}
.hide {
    display: none;
}

/* USER VIEW */
#userInfoView {
    display: flex;
    margin: 0;
    padding: 0;
}

#userView {
    margin: 0px 0px 0px 10px;
    height: 75px;
}

#userInfo {
    margin: 0px 0px 0px 0px;
    height: 75px;
    width: 30%;
}

#userImg {
    width: 75px;
    height: 75px;
}

.userSpan {
    line-height: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
}

#username {
    font-style: italic; 
    font-size: 10pt;
}

#fullname {

}

#biography {

}

#bioBox {
    font-size: 10pt;
    height: 25px;
    overflow: scroll;
    overflow-x: hidden;
}

/* REPOSITORIES VIEW */
#reposView {
    margin: 0;
}

#repoList {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 12pt;
    line-height: 50px;
    padding: 0;
    margin: 0;
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.repoListElement {
    border-bottom: solid 1px #d8d8d8;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

span.repoTitle {
    text-decoration: none;
    font-size: 12pt;
    color: black;
    width: 80%;
}

span.fas {
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 10pt;
    justify-content: flex-end;
    text-align: right;
}

.repoStarCount {
    padding: 2px;
    width: 5%;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}

.repoForkCount {
    padding: 2px;
    width: 5%;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}

/* SCROLLBAR STYLING */

.scrollBar::-webkit-scrollbar {
    height: 220px;
    width: 10px;
}
/* Track */
.scrollBar::-webkit-scrollbar-track {
    background: #fffff; 
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
    background: #fffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
